main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
  border-bottom: 1px dashed var(--color-gray-20);
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

