---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<div class="grid">
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold underline">
    TODO: HOME
    </h1>
  </div>
  <div class="flex justify-center">
    <div class="bg-red-800 rounded shadow border p-6 w-64">
      <h5 class="text-3xl font-bold mb-4 mt-0">My Title</h5>
      <p class="text-gray-700 text-sm">Content goes here</p>
    </div>
  </div>
</div>


<div x-data="{ open: false }">
    <button @click="open = ! open">Expand</button>
    <br>
    <span x-show="open">
        Content...
    </span>
</div>
