---
layout: layouts/home.njk
eleventyNavigation:
  key: Notes
  order: 2
---

<h2 class="text-3xl font-bold">Dev Notes</h1>

{% set devNotes = collections.dev %}
<ol>
  {% for note in devNotes %}
	<li>
    <a href='{{ note.url }}' >
      {% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}
    </a>
		<time datetime="{{ note.date | htmlDateString }}">
      {{ note.date | readableDate("LLLL yyyy") }}
    </time>
	</li>
  {% endfor %}
</ol>
