<!doctype html>

<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">
		<title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/bundle.css" type="text/css">
	</head>

	<body>
		<header>
      <a href="/" class="home-link">~</a>

      <nav class="topbar-menu">
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
    </header>

		<main class="content">
			{{ content | safe }}
		</main>

		<footer></footer>
	</body>
</html>
